.container {
  padding: 1.5rem 2.5rem;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: rgba(255, 255, 255, 1);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle {
  margin-top: 0.5rem;
}

.middle .description {
  margin-top: 0.5rem;
}

.bottom {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}
