.container {
  padding: 2rem 1.5rem;
  background-color: rgba(243, 244, 246, 1);
  display: flex;
  justify-content: space-between;
}

.mainHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeading h2 p {
  font-size: 1.5rem;
}

.container main {
  width: calc(100% * 8/12);
}

.container main section ul {
  margin: 0;
  padding: 0;
}

.container main section ul li {
  list-style: none;
  margin-top: 1.5rem;
}

.container aside {
  width: calc(100% * 4/12);
  margin: 0 -2rem;
}

.container aside section {
  padding: 0 2rem;
}

.container aside section:nth-of-type(n+2) {
  margin-top: 2.5rem;
}

.container aside section h2 {
  margin-bottom: 1rem;
}
