.container {
  padding: 1.5rem 2.5rem;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 1.5rem 2rem;
  max-width: 24rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
}

.top {
  display: flex;
  justify-content: center;
}

.middle {
  margin-top: 1rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.tag {
  padding: 0.25rem 0.5rem;
  color: rgba(209, 250, 229, 1);
  background-color: rgba(75, 85, 99, 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

.tag:hover {
  color: rgba(209, 250, 229, 1);
  background-color: rgba(107, 114, 128, 1);
}

.postTitle {
  color: rgba(55, 65, 81, 1);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-decoration: none;
}

.postTitle:hover {
  text-decoration: underline;
}

.author {
  display: flex;
  align-items: center;
}

.authorImage {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  object-fit: cover;
}

.authorName {
  color: rgba(55, 65, 81, 1); 
  margin: 0 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
}

.authorName:hover {
  text-decoration: underline;
}

.postDate {
  color: rgba(75, 85, 99, 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 300;
}
